@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Common css */

.container {
    width: 1270px;
    margin: auto;


}

p {
    font-size: 16px;
    color: #5e5959;

}

body {
    font-family: 'Work Sans', sans-serif;
}


/* Header Part Css Here */
.nav-Items {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-Items ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
    color: black;
}

.nav-Items .logo {
    font-size: 40px;
    color: black;
    font-weight: 700;
}



/* Css for Banner Section */

#hero_section_Wrapper {
    padding: 40px 0px;
}

.hero_Info {
    text-align: center;
    width: 862px;
    margin: auto;
    height: auto;
}

.hero_Info h1 {
    font-size: 64px;
}

.hero_Info p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    margin-top: -35px;
}

.hero_Info button {
    font-size: 16px;
    width: 150px;
    height: 50px;
    /* top: 463px; */
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    color: #FFFFFF;
}

.baner_Img img {
    width: 100%;
}



/* **************************************************************************** */


/* Features section */
#features_Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    background-color: #fff;
}


.features_Img {


    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}


.features_Info {
    padding-left: 50px;
}



.features_Img img {

    width: 277px;
}



.features_Info button {
    font-size: 20px;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    color: #FFFFFF;
}


span.colorfull_Our {
    color: #131313;
}

span.colorfull_features {
    color: #FF900E;
}



.features_Info h1 {
    color: #A1A1A1;
    line-height: 35px;
    font-size: 30px;
}

.features_Info p {
    width: 537px;
    height: 78px;
    font-size: 16px;
    line-height: 26px;
    color: #A1A1A1;
}

/* Features Blog css part */

#features_blog_wrapper {
    display: flex;
    align-items: center;
    padding: 40px 0px;
}

.features_blog {
    width: 50%;
}

.features_blog_Img {
    width: 50%;
}

.features_blog_box {
    /* border: 1px solid red; */
    box-shadow: azure;
    box-shadow: 0px 1px 30px 5px #00000021;
    width: 498px;
    padding: 25px 20px;
    border-radius: 7px;
    margin-top: 20px;
}

.featrues_box_Wrapper:last-child {
    margin-top: 0px;
}

.features_blog_Img img {
    width: 708px;
    height: 982px;

}




.features_blog_Info {
    width: 561px;
}

.features_blog_Info h1 {
    width: 400px;
    border-left: 5px solid #FF900E;
    padding: 0px 15px;
    font-size: 45px;
    font-weight: 700;
}

.features_blog_Info p {
    padding-bottom: 20px;
}


.success {

    text-align: center;
    width: 230px;
    height: 90px;
    padding: 20px 0px;
    position: absolute;
    background-color: #FF900E;
    z-index: 1;
    top: 10;
    left: 890px;
    margin-top: -180px;
    border-radius: 10px;
}

.success button {
    width: 200px;
    height: 64px;
}

.success h1 {
    font-size: 35px;
    margin: 0px;
    color: #fff;
    margin-top: 15px;
}

.success h4 {
    font-size: 16px;
    margin: 0px;
    color: #fff;
    font-weight: 400;
}

/* Some Facts css part */
#some_Facts_Wrapper {
    padding: 40px 0px;
}

.section_Info {
    width: 336px;
    letter-spacing: 1px;
    line-height: 20px;
    padding-bottom: 40px;
}

.section_Info h1 {
    font-size: 45px;
    font-weight: 700;
    /* line-height: 31px; */
}

.company_Info_Box {
    width: 170px;

    height: auto;
    text-align: center;
    padding: 30px 15px;
    border: 1px solid #ff900e;
    border-radius: 5px;
}

.box_Info h1 {
    margin: 0px;
    font-size: 30px;
    padding: 10px 0px;
}

.box_Info h2 {
    margin: 0px;
    font-size: 16px;
}

.about_company_Wrapper {
    display: flex;
    justify-content: space-around;
}

/* sponspors css part */

.sponspors_Info {
    width: 500px;
    margin: auto;
    text-align: center;
    padding-bottom: 35px;
    line-height: 25px;
}

.sponspors_Tittle h1 {
    font-size: 45px;
}

.company_Info_Box:hover {
    border: 1px solid green;
    transition: .2s;
}

.company_Info_Box:hover .box_Info {
    color: #FF900E;
}


/* ************* */
#sponspors_Wrapper {
    padding: 40px 0px;
}

.all_Sponspors {
    display: flex;
    justify-content: space-around;
}

.Sponspors_Logo img {
    width: 100px;
}


/* Our footer */


.footer_Info {
    background-color: antiquewhite;
    width: 1080px;
    margin: auto;
}

.footer_Info h3 {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}


/* ******************************************************************* */

/* Mobile media design */

@media screen and (max-width: 600px) {

    .container {
        width: 570px;
        margin: auto;

    }

    /* Header css part here */


    .nav-Items {
        display: flex;
        justify-content: space-between;
    }

    .nav-Items .logo {
        font-size: 25px;
        color: black;
        font-weight: 700;
    }


    .nav-Items ul li a {

        padding: 0px 1px;

    }

    /* hero section css part here */

    .hero_Info {
        width: 500px;
        margin: auto;
        text-align: center;
        height: auto;

    }

    .hero_Info h1 {
        font-size: 33px;
        color: black;
        margin-top: -20px;
        padding-bottom: 30px;
    }

    /* Feature css part here */

    #features_Wrapper {
        flex-direction: column;
    }

    .features_Img {
        grid-template-columns: none;
    }

    .features_Img img {
        width: 500px;
    }


    .features_Info h1 {
        font-size: 25px;
    }

    .features_Info button {
        font-size: 20px;
        width: 150px;
        height: 52px;
        border-radius: 8px;
        background-color: #FF900E;
        border: none;
        color: #FFFFFF;
    }

    .features_Info p {
        width: 480px;
        height: 100px;
        font-size: 16px;
        line-height: 26px;
        color: #A1A1A1;
    }


    /* Feature blog css part here */




    #features_blog_wrapper {
        display: flex;
        align-items: center;
        padding: 40px 0px;
        flex-direction: column;
    }

    .features_blog {
        width: 100%;
    }

    .features_blog_Info h1 {
        width: 400px;
        border-left: 5px solid #FF900E;
        padding: 0px 15px;
        font-size: 30px;
        font-weight: 700;
    }


    .features_blog_Img {
        width: 100%;
    }

    .features_blog_Img img {
        width: 541px;

        height: auto;
        margin-top: 20px;
    }

    .success {

        text-align: center;
        width: 230px;
        height: 90px;
        padding: 20px 0px;
        position: absolute;
        background-color: #ed942e !important;
        top: 10;
        margin-top: -110px;
        border-radius: 10px;
        left: -1px;
    }

    /* Some Facts css part here*/

    .section_Info h1 {
        font-size: 30px;
        font-weight: 700;

    }


    .section_Info {
        width: 336px;
        letter-spacing: 1px;
        line-height: 20px;
        padding-bottom: 40px;
        margin: auto;
        text-align: center;
    }


    .about_company_Wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        gap: 20px;
    }

    /* sponspors css part here */

    .sponspors_Tittle h1 {
        font-size: 30px;
    }



    .Sponspors_Logo img {
        width: 70px;
    }

    /*footer  css part here */

    .footer_Info {
        background-color: antiquewhite;
        width: 550px;
        margin: auto;
        margin-top: 30px;
    }

    .footer_Info h3 {
        text-align: center;
        padding: 20px;
        font-size: 14px;
    }


}