@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Common css */

.container{
    width: 1270px;
    margin: auto;
    
     
}

body{
    font-family: 'Work Sans', sans-serif;
}


/* Header Part Css Here */
.nav-Items{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-Items ul , li, a {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
    color: black;
}
.nav-Items .logo {
 font-size: 30px;
 color: black;
}



/* Css for   Banner Section */

.hero_Info {
    text-align: center;
    width: 862px;
    margin: auto;
    height: auto;
}

.hero_Info h1 {
    font-size: 64px;
}
.hero_Info p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    margin-top: -35px;
}
.hero_Info button{
    font-size: 20px;
    width: 180px;
    height: 64px;
    top: 463px;
    margin-bottom: 58px;
    margin-top: 40px;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    color: #FFFFFF;
    
}

/* .baner_Img img{
    width: 100%;
} 



/* **************************************************************************** */


/* Features section */
.features_Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    background-color:#fff;
}


.features_Img{


display: grid;

grid-template-columns: repeat(2,1fr);
gap: 24px;

}


.features_Info{
    padding-left: 50px;
}



.features_Img img{

width: 277px;
}



.features_Info button{
    font-size: 20px;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    color: #FFFFFF;
}


span.colorfull_Our {
    color:#131313;
}

span.colorfull_features {
    color: #FF900E;
}



.features_Info h1 {
    color: #A1A1A1;
    line-height: 35px;
    font-size: 30px;
}

.features_Info p {
    width: 537px;
    height: 78px;
    font-size: 16px;
    line-height: 26px;
    color: #A1A1A1;
}

/* Features Blog */

.features_blog_wrapper {
    display: flex;
    align-items: center;
}
.features_blog {
    width: 50%;
}
.features_blog_Img {
    width: 50%;
}

.features_blog_box {
    /* border: 1px solid red; */
    box-shadow: azure;
    box-shadow: 0px 1px 30px 5px #00000021;
    width: 525px;
    padding: 26px 30px;
    border-radius: 7px;
    margin-top: 20px;
}
.featrues_box_Wrapper:last-child{
    margin-top: 0px;
}
.features_blog_Img img {
    width: 708px;
    height: 982px;
   
}
/* gdfsgdhd */


.features_blog_Info {
    width: 561px;
}

.features_blog_Info h1 {
    width: 400px;
    border-left: 5px solid #FF900E;
    padding: 0px 15px; 
font-size: 45px;
font-weight: 700;
}

.features_blog_Info p{
    padding-bottom: 20px;
}


 .success {
    margin: auto;
    text-align: center;
    width: 300px;
    height: 100px;
    padding: 20px 0px;
    position: absolute;
    background-color: #FF900E;
    z-index: 1;
    top: 10;
    left: 1085px;
    margin-top: -116px;
    border-radius: 10px;
} 

.success button {
    width: 200px;
    height: 64px;
}

.success h1 {
    font-size: 35px;
    margin: 0px;
    color: #fff;
    margin-top: 30px;
}

.success h4 {
    font-size: 16px;
    margin: 0px;
    color: #fff;
    font-weight: 400;
}